<div class="container p-5 mb-5">

  <!--With large icons-->
  <h2 class="text-center my-5">
    Vous nous avez demandé, nous vous avons répondu !
  </h2>

<div class="accordion" id="accordionFAQ">
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <div class="row">
          <div class="col-3 text-center d-flex align-items-center"><i
                class="fas fa-money-bill me-2 fa-3x"></i>
          </div>
          <div class="col-9">
            <h5 class="my-2">Quelle est la durée de conservation des produits ?</h5>

            <p class="mb-1">
              La durée de conservation varie selon les produits. 
            </p>
          </div>
        </div>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Chaque produit est accompagné de recommandations spécifiques de conservation. Nous veillons à ce que nos produits aient une durée de conservation optimale lorsqu'ils vous sont livrés.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <div class="row">
          <div class="col-3 text-center d-flex align-items-center"><i
                class="fas fa-user-cog me-2 fa-3x"></i>
          </div>
          <div class="col-9">
            <h5 class="my-2">Proposez-vous des options de livraison internationale ?</h5>

            <p class="mb-1">
              Oui, nous livrons dans de nombreux pays à travers le monde. 
            </p>
          </div>
        </div>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Veuillez vérifier la disponibilité de la livraison dans votre pays lors du processus de commande.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <div class="row">
          <div class="col-3 text-center d-flex align-items-center">
            <i class="fas fa-dragon me-2 fa-3x"></i>
          </div>
          <div class="col-9">
            <h5 class="my-2">Est-ce que vous avez des magasins physiques où je peux acheter vos produits ?</h5>

            <p class="mb-1">
              Actuellement, nous opérons exclusivement en ligne et n'avons pas de magasins physiques.
            </p>
          </div>
        </div>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Vous pouvez commander nos produits directement sur notre site web et profiter de la livraison à votre domicile.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <div class="row">
          <div class="col-3 text-center d-flex align-items-center"><i class="fas fa-dragon me-2 fa-3x"></i>
          </div>
          <div class="col-9">
            <h5 class="my-2">Est-ce que vous offrez un programme de fidélité pour les clients réguliers ?</h5>

            <p class="mb-1">
              Oui, nous avons un programme de fidélité exclusif pour récompenser nos clients réguliers. 
            </p>
          </div>
        </div>
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Vous pouvez accumuler des points à chaque achat et les échanger contre des réductions ou des avantages spéciaux. Vous recevez par ailleurs chaque mois une invitation à déguster nos produits en avant première. Inscrivez-vous à notre programme de fidélité pour commencer à en profiter.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        <div class="row">
          <div class="col-3 text-center d-flex align-items-center"><i class="fas fa-dragon me-2 fa-3x"></i>
          </div>
          <div class="col-9">
            <h5 class="my-2">Puis-je obtenir des conseils sur la meilleure utilisation de vos produits ?</hFive>

            <p class="mb-1">
              Absolument ! 
            </p>
          </div>
        </div>
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Notre équipe d'experts culinaires est là pour vous fournir des conseils et des idées sur la meilleure façon de profiter de nos produits. N'hésitez pas à nous contacter pour toute demande de recettes, d'accords mets-vins ou de conseils de dégustation.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        <div class="row">
          <div class="col-3 text-center d-flex align-items-center"><i class="fas fa-dragon me-2 fa-3x"></i>
          </div>
          <div class="col-9">
            <h5 class="my-2">Comment puis-je contacter votre service client en cas de problème ?</h5>

            <p class="mb-1">
              En remplissant le formulaire de contact.
            </p>
          </div>
        </div>
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Vous pouvez contacter notre service client en utilisant notre formulaire de contact sur le site, en nous envoyant un e-mail à l'adresse indiquée ou en nous appelant pendant nos heures d'ouverture. Notre équipe se fera un plaisir de vous assister et de résoudre vos problèmes dans les meilleurs délais.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        <div class="row">
          <div class="col-3 text-center d-flex align-items-center"><i class="fas fa-dragon me-2 fa-3x"></i>
          </div>
          <div class="col-9">
            <h5 class="my-2">Est-ce que vous organisez des événements ou des dégustations pour vos produits ?</h5>

            <p class="mb-1">
              Oui, nous organisons régulièrement des événements et des dégustations pour faire découvrir nos produits à nos clients les plus fidèles.
            </p>
          </div>
        </div>
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Restez à l'affût de nos actualités et de nos réseaux sociaux pour être informé des prochains événements à ne pas manquer.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingHeight">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHeight" aria-expanded="false" aria-controls="collapseHeight">
        <div class="row">
          <div class="col-3 text-center d-flex align-items-center"><i class="fas fa-dragon me-2 fa-3x"></i>
          </div>
          <div class="col-9">
            <h5 class="my-2">Est-ce que vous proposez des coffrets-cadeaux ou des assortiments pré-emballés ?</h5>

            <p class="mb-1">
              Oui, à l’occasion des fêtes nous mettons en place une sélection de coffrets-cadeaux et d'assortiments pré-emballés pour faciliter vos choix.
            </p>
          </div>
        </div>
      </button>
    </h2>
    <div id="collapseHeight" class="accordion-collapse collapse" aria-labelledby="headingHeight" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         Ces ensembles soigneusement sélectionnés sont parfaits pour offrir ou pour vous faire plaisir avec une variété de délices gastronomiques.
      </div>
    </div>
  </div>
</div>






    </a>
  </div>


</div>