<div class="container-fluid p-5 bg-dark">
    <div class="container py-5">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                        class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">John Smith</h5>
                        <hr>
                        <div class="row">
                            <div class="nav flex-column nav-pills me-3 nav-justified" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <button class="nav-link active" id="v-pills-informations-tab" data-bs-toggle="pill" data-bs-target="#v-pills-informations" type="button" role="tab" aria-controls="v-pills-informations" aria-selected="true">Mes informations</button>
                                <button class="nav-link" id="v-pills-orders-tab" data-bs-toggle="pill" data-bs-target="#v-pills-orders" type="button" role="tab" aria-controls="v-pills-orders" aria-selected="false">Mes commandes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-informations" role="tabpanel" aria-labelledby="v-pills-informations-tab" tabindex="0">
                        <div class="card mb-4">
                            <div class="card-body">


                            
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Nom</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">Johnatan Smith</p>
                                    </div>
                                </div>
                                <hr>
                                
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-orders" role="tabpanel" aria-labelledby="v-pills-orders-tab" tabindex="0">
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>


