<div class="container p-5 mt-5 bg-dark text-white p-5 w-75" id="article"><!-- ici un article descriptif -->
    <h2 class="text-start pb-5">NDG enchante les palais du monde entier</h2>
    <div class="row">
        <div class="col-12 col-lg-6">
        <p class="text-justify" id="articlePartie1">
            Au cœur du monde de la gastronomie, une épicerie d'exception s'est imposée en tant que référence 
            pour les amateurs de saveurs raffinées et authentiques. NDG est une épicerie réputée pour sa sélection 
            minutieuse de produits artisanaux de la plus haute qualité. Des trésors gustatifs tels que l'huile 
            d'olive kabyle pressée à froid et la charcuterie artisanale halal de premier choix, NDG a su conquérir 
            les palais du monde entier.
        </p>
        </div>
        <div class="col-12 col-lg-6">
        <p class="text-justify" id="articlePartie2">
            L'excellence des produits de NDG ne connaît pas de frontières. Grâce à notre engagement envers la 
            qualité et notre passion pour les saveurs authentiques, nos produits artisanaux sont exportés vers 
            les quatre coins du globe. Les amateurs de gastronomie à travers le monde peuvent désormais découvrir 
            les délices raffinés que nous proposons. Chaque bouchée est une invitation à un voyage culinaire 
            inoubliable, transportant les papilles vers de nouvelles sensations gustatives.
        </p>
        </div>
    </div>
</div>