<div class="container w-50">
    <div class="mt-5 pt-5 pb-5" id="quatreImages"><!-- ici la grille des 4 images -->
        <h2 class = "text-center pb-5">Votre Épicerie Fine de Choix</h2>
        <div class="row">
            <div class="col-12 col-lg-6 d-flex justify-content-end my-2">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img class="content-image" src="img/image4_1.jpg">
                    <div class="content-details p-3 fadeIn-top">
                        <h3>L'Essence Dorée de la Méditerranée</h3>
                        <p>Découvrez notre Huile d'Olive d'Exception, Récoltée et Pressée avec Passion selon la Tradition Kabyle.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-end  my-2">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img class="content-image" src="img/image4_2.jpg">
                    <div class="content-details p-3 fadeIn-top">
                        <h3>Une Expérience d'Excellence</h3>
                        <p>Profitez de notre Service d'Excellence pour des Moments de Dégustation Inoubliables</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
            <div class="container d-flex justify-content-end p-0 my-2">
                <div class="content d-flex justify-content-end">
                <div class="content-overlay"></div>
                <img class="content-image" src="img/image4_3.jpg">
                <div class="content-details p-3 fadeIn-top">
                    <h3>Savourez l'Art de la Charcuterie</h3>
                    <p>Notre Sélection d'Œuvres d'Art Culinaires, Élaborées avec Passion par des Artisans Charcutiers</p>
                </div>
                </div>
            </div>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-start my-2">
            <div class="content">
                <div class="content-overlay"></div>
                <img class="content-image" src="img/image4_4.jpg">
                <div class="content-details p-3 fadeIn-top">
                    <h3>Récompensons votre Passion</h3>
                    <p>Profitez de notre Carte de Fidélité Exquise et Collectionnez des Avantages Exclusifs à Chaque Visite</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>