<div class="container mt-5 mb-5 p-5" id="logosSurvol"><!-- ici les logos des partenaires -->
    <h3 class="text-center my-5">Nos Partenaires</h3>
	<div class="row">
		<div class="col-md-12">
            <div id="carouselLogos" class="carousel slide pt-5 pb-4" data-bs-ride="carousel">

                <div class="carousel-inner px-5"><!-- First part -->
                    <div class="carousel-item active">
                        <div class="row justify-content-center">
                            <div class="col-4 col-lg-2 align-self-center mx-4">
                                <img class="d-block w-100 px-3 mb-3" src="img/partenaire1.png" alt="">
                            </div>
                            <div class="col-4 col-lg-2  align-self-center mx-4">
                                <img class="d-block w-100 px-3  mb-3" src="img/partenaire2.png" alt="">
                            </div>
                            <div class="col-4 col-lg-2  align-self-center mx-4">
                                <img class="d-block w-100 px-3  mb-3" src="img/partenaire3.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item"><!-- Second part -->
                        <div class="row">
                            <div class="row justify-content-center">
                                <div class="col-4 col-lg-2 align-self-center mx-4">
                                    <img class="d-block w-100 px-3 mb-3" src="img/partenaire4.png" alt="">
                                </div>
                                <div class="col-4 col-lg-2  align-self-center mx-4">
                                    <img class="d-block w-100 px-3  mb-3" src="img/partenaire5.png" alt="">
                                </div>
                                <div class="col-4 col-lg-2  align-self-center mx-4">
                                    <img class="d-block w-100 px-3  mb-3" src="img/partenaire6.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators position-relative mt-3">
                    <li data-bs-target="#carouselLogos" data-bs-slide-to="0" class="active bg-dark carousel-control-prev-icon"></li>
                    <li data-bs-target="#carouselLogos" data-bs-slide-to="1" class="bg-dark"></li>
                </ol>
            </div>
		</div>
	</div>
</div>
 
 
  