<div class="container-fluid bg-grey" id="team"><!-- ici section team -->
    <div class="team-area my-5 py-5">
        <div class="container my-5 pb-5">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-title text-center my-5">
                        <h2>L'Équipe NDG</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-7 col-lg-4 col-md-5">
                    <div class="single-team-style-2 text-center">
                        <div class="single-team-style-2-img">
                            <img src="img/fond2.png" alt="">
                        </div>
                        <div class="single-team-content-style-2">
                            <h4>Valentina</h4>
                            <span>Conseillère de vente</span>
                        </div>
                    </div>
                </div>
                <div class="col-7 col-lg-4 col-md-5">
                    <div class="single-team-style-2 text-center">
                        <div class="single-team-style-2-img">
                            <img src="img/fond2.png" alt="">
                        </div>
                        <div class="single-team-content-style-2">
                            <h4>Khalil</h4>
                            <span>CEO</span>
                        </div>
                    </div>
                </div>
                <div class="col-7 col-lg-4 col-md-5">
                    <div class="single-team-style-2 text-center">
                        <div class="single-team-style-2-img">
                            <img src="img/fond2.png" alt="">
                        </div>
                        <div class="single-team-content-style-2">
                            <h4>Janaa</h4>
                            <span>Community Manager</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>