<div class="container-fluid" id="testimonials">
    <div class="testimonial-area py-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-title text-center mb-5">
                        <h2>Vous nous recommandez !</h2>
                    </div>
                </div>
            </div>
            <div class="row d-flex align-items-end">
                <div class="col-xl-6 col-lg-6">
                    <div class="testimonial-img">
                        <img src="img/img1.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="testimonial-style-2">
                        <div id="carouselExampleIndicatorsTestimonials" class="carousel slide" data-bs-ride="carousel"><!-- ici le carousel -->
                            <div class="carousel-indicators justify-content-end">
                                <button type="button" data-bs-target="#carouselExampleIndicatorsTestimonials" data-bs-slide-to="0" class="active bg-dark" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicatorsTestimonials" data-bs-slide-to="1" class="bg-dark" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicatorsTestimonials" data-bs-slide-to="2" class="bg-dark" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="single-testimonial-style-2">
                                        <p>J'ai récemment eu le plaisir de découvrir l'épicerie fine NDG et je suis absolument enchantée. Les produits artisanaux de qualité supérieure proposés sont tout simplement exquis ! Je recommande !</p>
                                        <h4>Sofia M.</h4>
                                        <span>NDG</span>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="single-testimonial-style-2">
                                        <p>Franchement, NDG c'est le top du top ! J'ai jamais goûté de la charcuterie artisanale halal et c’est une première incroyable ! NDG, c'est mon spot maintenant, j'irai nulle part ailleurs pour mes produits de luxe !</p>
                                        <h4>Alexandre D.</h4>
                                        <span>NDG</span>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="single-testimonial-style-2">
                                        <p>L'équipe de NDG est passionnée, compétente et toujours prête à offrir des conseils personnalisés. Grâce à eux, j'ai pu découvrir de nouvelles saveurs et épices qui ont ajouté une touche de sophistication à mes repas. Je reviendrai !</p>
                                        <h4>Imen L.</h4>
                                        <span>NDG</span>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicatorsTestimonials" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicatorsTestimonials" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>