<div class="container mt-5 mx-auto" id="premierTexteDescriptif"><!-- ici le premier texte du site -->
    <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis feugiat turpis sed pretium.
        Proin tristique nec diam in aliquam. Mauris feugiat quam nisl, id ultrices nulla pellentesque quis.
        Praesent finibus ligula eget dui auctor cursus. Vivamus tristique dolor nec est scelerisque fermentum.
        Praesent bibendum metus elementum vehicula dapibus. Cras finibus lectus in dui tristique efficitur.
        Aliquam nisi est, egestas ut lectus vitae, bibendum aliquet nisl. Ut mollis at enim quis rutrum.
        Nulla lacinia dui id est cursus, ut facilisis sapien consequat. Maecenas ac arcu tortor.
        Nullam ultrices augue orci, ac euismod dui vehicula sed. Proin dictum odio sit amet sapien aliquet vulputate.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque eleifend felis nec posuere tincidunt.
        Morbi tempor ac urna et tempor.
    </p>
</div>