<div class="container-fluid" id="experienceNDG"><!-- ici section experience -->
    <div class="experience-area py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center my-5">
                        <h2>We Give Awesome Landscape & <br> Gardening Services</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-10  offset-sm-1 col-md-5 offset-md-1">
                    <div class="single-experience">
                        <h4>Mission</h4>
                        <p>Nous nous engageons à préserver les traditions culinaires artisanales et à promouvoir les producteurs locaux, en mettant en valeur leur savoir-faire unique à travers notre gamme de produits exclusifs.</p>
                    </div>
                    <div class="single-experience">
                        <h4>Vision</h4>
                        <p>Nous aspirons à créer un univers culinaire où la qualité, l'authenticité et le plaisir sont au cœur de chaque produit, en inspirant les amateurs de bonnes choses à explorer de nouveaux horizons gustatifs et à savourer des moments de délice.</p>
                    </div>
                    <div class="single-experience">
                        <h4>Objectif</h4>
                        <p>Nous visons également à établir des partenariats durables avec des producteurs d'exception, à favoriser le commerce équitable et à contribuer au développement durable de la filière de l'épicerie fine artisanale, en soutenant les pratiques respectueuses de l'environnement.</p>
                    </div>
                </div>
                <div class="col-10 offset-1 offset-md-0 col-md-6">
                    <div class="experience-img">
                        <img src="img/img1.jpg" alt="">
                        <div class="experience-small-block">
                            <h5>NDG à l'international !</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>