<div class="container-fluid" id="funFact"><!--bannière de statistiques-->
    <div class="fun-fact-area pt-60 pb-60 theme-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single-counter text-center">
                        <h2><span class="counter">30</span>+</h2>
                        <p>Partenaire internationaux</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single-counter text-center">
                        <h2><span class="counter">5</span>+</h2>
                        <p>Ans d'expérience</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single-counter text-center">
                        <h2><span class="counter">6000</span>+</h2>
                        <p>Produits vendus chaque année</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single-counter text-center">
                        <h2><span class="counter">100</span>%</h2>
                        <p>De satisfaction</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>