<div class="container-fluid" id="picSection">
    <div class="container p-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-6 py-5">
                <h2>L'excellence de l'épicerie <br> fine artisanale</h2>
                <p>Bienvenue chez NDG, votre destination de prédilection pour des produits d'épicerie fine artisanale d'exception. 
                Nous sommes fiers de vous proposer une sélection haut de gamme, allant de l'huile d'olive kabyle pressée à froid 100% 
                artisanale à notre charcuterie halal de premier choix, reconnue dans le monde entier.
                <br><br>
                Notre engagement envers la 
                qualité et l'authenticité se reflète dans chaque produit que nous proposons. Découvrez l'excellence gastronomique 
                chez NDG et offrez-vous une expérience culinaire inoubliable.</p>
            </div>
            <div class="col-sm-5 py-5">
            <div class="hero-popup-content">
                    <img src="img/img1.jpg" class="image-border-30" alt="">
            </div>
            </div>
        </div>
    </div>
</div>