{% extends 'base.html.twig' %}

{% block title %}NDG - F.A.Q.{% endblock %}

{% block body %}
<div class="container-fluid">
    {% include 'Components/faq/_faq.html.twig' %}
    {% include 'Components/home/_newsletter.html.twig' %}
</div>
{% endblock %}