{% extends 'base.html.twig' %}

{% block title %}NDG - Se connecter{% endblock %}

{% block body %}
<div class="container-fluid">
    {% include 'Components/account/_login.html.twig' %}
</div>
{% endblock %}