{% extends 'base.html.twig' %}

{% block title %}NDG - Mon compte{% endblock %}

{% block body %}
<div class="container-fluid">
    {% include 'Components/account/_myAccount.html.twig' %}
</div>
{% endblock %}