{% extends 'base.html.twig' %}

{% block title %}NDG - Page de paiement{% endblock %}

{% block body %}
<div class="container-fluid">
    {% include 'Components/payment/_payment.html.twig' %}
</div>
{% endblock %}